<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Beekeeper - Home</title>
    <script type="text/javascript" src="../libs/jquery-3.3.1.min.js" defer></script>
    <script type="text/javascript" src="../js/controllers/details.js" defer></script>
</head>

<body class="details">
    <header>
        <h1><a href="../index.html">Beekeeper</a></h1>
        <p class="settings">
            <i class="fas fa-cog"></i>
        </p>
    </header>

    <main>
        <div class="hive-data">
            <h2>Name :</h2>
            <p id="name"></p>
        </div>
        <div class="hive-data">
            <h2>Address :</h2>
            <p id="address"></p>
        </div>
        <div class="hive-data">
            <h2>Bees amount :</h2>
            <p id="beesAmount"></p>
        </div>
        <div class="hive-data">
            <h2>Install date :</h2>
            <p id="installDate"></p>
        </div>
        <div class="hive-data">
            <h2>Last harvest :</h2>
            <p id="lastHarvest"></p>
        </div>
        <div class="hive-data">
            <h2>Description :</h2>
            <p id="description"></p>
        </div>
        <div class="hive-data">
            <h2>Comment :</h2>
            <p id="comment"></p>
        </div>
        <div class="geolocation">
            <div>
                Longitude
                <p id="longitude"></p>
            </div>
            <div>
                Latitude
                <p id="latitude"></p>
            </div>
        </div>

        
        <button class="button">Measure</button>
    </main>
</body>

</html>