<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/src/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Beekeeper - Home</title>
</head>

<body class="details">
    <header>
        <h1><a href="../index.html">Beekeeper</a></h1>
        <p class="settings">
            <a href="#">
                <i class="fas fa-cog"></i>
            </a>
        </p>
    </header>

    <main>
        <div class="hive-data">
            <h2>Name :</h2>
            <p>My first hive</p>
        </div>
        <div class="hive-data">
            <h2>Address :</h2>
            <p>6 rue du fort 67000 Strasbourg</p>
        </div>
        <div class="hive-data">
            <h2>Bees amount :</h2>
            <p>234466 bees</p>
        </div>
        <div class="hive-data">
            <h2>Install date :</h2>
            <p>24 june 2018</p>
        </div>
        <div class="hive-data">
            <h2>Last harvest :</h2>
            <p>02 February 2019</p>
        </div>
        <div class="hive-data">
            <h2>Description :</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eius blanditiis repellendus consequuntur ullam dicta velit necessitatibus quo.
            </p>
        </div>
        <div class="hive-data">
            <h2>Comment :</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eius blanditiis repellendus consequuntur ullam dicta velit necessitatibus quo.
            </p>
        </div>

        
        <button class="button">Measure</button>
    </main>
</body>

</html>