<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="./../css/styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous">
            <script src="./../libs/jquery-3.3.1.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js" defer></script>
        <script type="text/javascript" src="./../libs/jquery-3.3.1.min.js" defer></script>
        <script type="text/javascript" src="./../js/controllers/measures.js" defer></script>
        <script type="text/javascript" src="./../js/controllers/sensors.js" defer></script>
        <title>Beekeeper - Home</title>
    </head>

    <body class="measures">
        <header>
            <h1><a href="../index.html">Beekeeper</a></h1>
        </header>

        <main>
            <h2 id="name"></h2>     
            <div class="compass-section">
                <div>
                    <p id="doTiltLR">0°</p>
                    <div class="compass-container" id="logoContainer">
                            <img class="compass" src="./../assets/img/bubble.png" id="imgLogo">
                    </div>
                </div>
                <p id="doTiltFB">45°</p>
            </div>
            <div class="progress-bar">
                <span class="bar">
                  <span class="progress"></span>
                </span>
            </div>
            <div class="graphs">
                    <h3>Vibrations</h3>
                    <canvas id="line-chart"></canvas>
                    <canvas id="line-chart2"></canvas>
                    <div class="stats">
                        <div>Avg:
                            <p id="avg">1.14431341</p>
                        </div>
                        <div>Max:
                            <p id="max">1.122423</p>
                        </div>
                    </div>
            </div>
            <div class="button-container">
                <button class="button" id="askButton">Start</button>
            </div>
        </main>
    </body>

</html>